.cont {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}
body {
    background-color: #F2F5F8;
}
header {
    width: 100%;
    height: 130px;
    margin-bottom: 44px;
    background-color: white;
}
.header-1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(141, 134, 134);
}
.language {
    display: flex;
    align-items: center;
    width: 94px;
    height: 14px;
    justify-content: space-between;
    margin-left: 41px;
}
.language img {
    width: 15px;
    height: 10.44px;
}
.language p, .lang-drop-down p {
    font-size: 12px;
    color: #758BFD;
}
.account img {
    width: 9px;
    height: 9px;
}
.account p {
    font-size: 12px;
    color: #758BFD;
}
.account {
    width: 74px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    margin-right: 41px;
}
.header-2 ul {
    display: flex;
    width: 650px;
    justify-content: space-evenly;
    color: #8172D5;
    align-items: center;
}
.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 41px;
    margin-right: 41px;
    position: relative;
}
.header-2 h1, span {
    font-size: 31px;
    font-weight: bold;
}
.header-2 h1 {
    color: rgb(58, 58, 151)
}
.header-2 span {
    color: blue;
}
select {
    height: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    outline: 1px solid #ccc;
    outline-offset: -1px;
    color: #8172D5;
  }
::placeholder {
    color: #69A3A2;
    padding-left: 26px;
  }
#input-cont {
    position: relative;
    width: 227px;
    height: 37px;
}
input {
    width: 100%;
    height: 100%;
    background-color: #F2F5F8;
    border: none;
}
#search-icon {
    position: absolute;
    bottom: 12px;
    right: 13px;
    width: 11.75px;
    height: 11.75px;
    transition: all 2s;
}
#search-bar {
    transition: all 2s;
}
#search-background {
    position: absolute;
    width: 37px;
    height: 37px;
    background-color: #8172D5;
    border-radius: 8px;
    top: 1px;
    right: 1px;
    transition: all 2s;
}
#section-1 {
    display: flex;
    width: 80%;
    gap: 16px;
    margin: 0 auto;
    justify-content: space-between;
}

.left-cont {
    width: 850px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    position: relative;
}
.left-cont img {
    width: 95%;
    height: 230px;
    margin: 18px auto;
}
.left-cont p{
    margin-left: 20px;
    width: 80%;
}
.Barclays {
    font-size: 24px;
    color: #133B3A
}
#circles-and-arrows {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#slider-arrows {
    width: 10%;
    margin-right: 28px;
    display: flex;
}
#slider-arrow-right, #slider-arrow-left {
    width: 10.66px;
    height: 16.31px;
}
#circles {
    width: 10%;
    height: 12px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.circle-1 {
    width: 12px;
    height: 12px;
    background-color: #8172D5;
    border-radius: 50%;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #8172D5;
}
.left h1, .right h1 {
    font-size: 18px;
    margin-bottom: 14px;
}
.right-cont {
    width: 480px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    padding-top: 100px;
}
#row-1, #row-2, #row-3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.direction-arrows {
    width: 7.66px;
    height: 13.31px;
}
#section-2 {
    width: 80%;
    margin: 54px auto;
}
.section-2-header {
    display: flex;
    justify-content: space-between;
}
.section-2-header h1 {
    font-size: 18px;
}
.section-2-header p a {
    font-size: 12px;
    color: #8172D5;
    border-bottom: 1px solid #8172D5;
}
#cards-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}
.cards-imgs {
    width: 224px;
    height: 125px;
    margin: 18px;
}
.card-boxes {
    margin: 0 auto;
    background-color: white;
    height: 368px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.cards-descrip {
    font-size: 20px;
    width: 200px;
}
.date {
    margin-top: 44px;
}
#section-3 {
    margin-top: 81px;
    width: 80%;
    margin: 0 auto;
}
#FAQ-cont {
    width: 100%;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
#FAQ-cont div {
    width: 50%;
    height: 82px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(58, 58, 151);
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    transition: all 1s;
}
#section-4 {
    width: 100%;
    background-color: cyan;
    height: 361px;
    margin-top: 111px;
    display: flex;
}
#event-img-div {
    width: 60%;
    background-color: red;
}
#event-img-div img {
    width: 100%;
    height: 400px;
}
.link-div {
    display: flex;
    justify-content: flex-end;
    padding-right: 144px;
    height: 20%;
    width: 100%;
}
.event-cont h1 {
    color: #FFB140
}
.event-date {
    color: #69A3A2;
}
.event-cont p a {
    font-size: 12px;
    color: #8172D5;
    border-bottom: 1px solid #8172D5;
}
#ad {
    font-size: 18px;
    color: rgb(8, 58, 8);
}
.event-cont {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    padding-left: 68px;
}
.event-cont button {
    width: 110px;
    height: 35px;
    background-color: #758BFD;
    color: white;
    border: none;
}
#section-5 {
    width: 80%;
    margin: 0 auto;
    margin-top: 196px;
    display: flex;
}
#section-5 div {
    width: 50%;
}
#section-5 div button {
    width: 130px;
    height: 35px;
    background-color: #758BFD;
    color: white;
    border: none;
    margin-right: 15px;
}
#section-5 div img {
    margin-top: 14px;
}
#section-5 div div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#name-surname {
    color: #8172D5;
    font-size: 18px;
}
.content-man {
    flex-direction: column;
}
#section-6 {
    width: 80%;
    margin: 0 auto;
    margin-top: 52px;
}
#section-6 h1 {
    font-size: 18px;
}
#contacts-cont {
    margin-top: 14px;
    width: 100%;
    height: 409px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contacts-cont div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s;
}
footer {
    margin-top: 50px;
    width: 100%;
    height: 163px;
}
#footer-1 {
    width: 100%;
    height: 57%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-1 button {
    width: 140px;
    height: 35px;
    background-color: #758BFD;
    color: white;
    border: none;
    margin-left: 50px;
}
#footer-1 p {
    font-size: 24px;
    color: rgb(58, 58, 151);
    font-weight: bold;
}
#footer-1 span {
    color: #758BFD;
    font-size: 24px;
    font-weight: normal;
}
#footer-2 {
    width: 100%;
    height: 43%;
    background-color: #758BFD;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}
#footer-2 ul {
    display: flex;
    width: 50%;
    margin-right: 40px;
    justify-content: space-between;
}

.active {
    width: 0%;
}
.active-img {
    right: 200px;
}
.green {
    font-size: 12px;
    color: #69A3A2;
}
.menu-2 {
    background-color: white;
    color: #8172D5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    position: absolute;
    height: 80px;
    width: 100px;
}
.menu-3 {
    background-color: white;
    color: #8172D5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    position: absolute;
    height: 80px;
    width: 120px;
}
#Georgia-img, #russia-img{
    width: 15px;
    height: 10px
}
.lang-drop-down {
    width: 80px;
    height: 48px;
    background-color: white;
    margin: -10px 34px;
    position: absolute;
    padding-left: 5px;
    display: none;
}
.lang-drop-down div {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 10px;
}
.display {
    display: block;
}